Flask==2.3.3
joblib==1.4.2
numpy==1.26.4
librosa==0.10.2.post1
SpeechRecognition==3.11.0  # Use the correct casing for the package name
scipy==1.13.1
openai==1.52.2
requests==2.32.3
tensorflow==2.17.0
